.wrap_div{position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);width:100%;}

.logoContainer{text-align: center}
.googleLogo{max-width:300px;}

.searchContainer{margin-top:20px; text-align: center}
.searchbox{padding:10px;border:1px solid #cecece;min-width:60%;}